body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

:root{
    --bluetext: #505F98;
    --bluetitles: #37447E;
    --buttoncolor: #111B47;
    --h1color: #091133;
    --white: #fff;
    --buttoncolorfort: #111B47;
    --bgcolor: #E7ECFF;
    --fth3color: #939EA4;
}

header nav{
    margin: 0 160px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .list ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

header nav .list ul li a{
    color: var(--bluetext);
    text-decoration: none;
    font-weight: 400;
}

header nav .list ul li a:hover{
    color: var(--h1color);
    transition: 0.3s;
}

header nav .midheader h2{
    color: var(--bluetitles);
}

header nav .logoesphera figure img{
    width: 70px;
    height: 70px;
}

.section-home {
    display: flex;
    position: relative;
}

.image-body figure img{
    position: absolute;
    top: 0px;
    right: 5px;
    z-index: -1;
    height: 900px;
}

.section-home .content{
    margin-top: 250px;
    width: 700px;
    margin-left: 160px;
}

.section-home .content h1{
    color: var(--h1color);
    font-weight: 500;
    font-size: 4rem;
    line-height: 80px;
    margin-bottom: 20px;
}

.section-home .content p{
    color: var(--bluetext);
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 26px;
}

.section-home .content .purchase {
    padding: 10px 28px;
    background-color: var(--buttoncolorfort);
    border: 3px solid var(--white);
    text-decoration: none;
    font-weight: 300;
    color: var(--white);
    font-size: 16px;
}

.section-home .content .leia {
    margin-left: 12px;
    padding: 8px 36px;
    background-color: var(--white);
    text-decoration: none;
    font-weight: 300;
    color: var(--buttoncolorfort);
    font-size: 16px;
    border: 3px solid var(--buttoncolorfort);
}

.section-home .content .leia:hover{
    transition: 0.4s;
    background-color: var(--buttoncolorfort);
    color: var(--white);
}

.section-home .content .purchase:hover{
    transition: 0.2s;
    background-color: var(--white);
    color: var(--buttoncolorfort);
    border: 3px solid var(--buttoncolorfort);
    padding: 8px 36px;
}

.light-fast{
    display: flex;
    margin: 0px 160px;
    margin-top: 250px;
    justify-content: space-between;
    align-items: center;
}

.light-fast .content{
    margin-top: 100px;
    width: 600px;
}

.light-fast .content h2{
    color: var(--h1color);
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.light-fast .content p{
    color: var(--bluetext);
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 32px;
}

.light-fast .image-light{
    display: flex;
    margin-top: 50px;
}

.light-fast .image-light h3{
    color: var(--h1color);
    font-weight: 500;
}

.light-fast .image-light p{
    color: black;
    font-size: 16px;
    margin-top: 8px;
}

.light-fast .image figure img{
    width: 600px;
    height: 600px;
}

.powerful{
    margin: 0px 160px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.powerful .content{
    width: 500px;
}

.powerful .content h2{
    color: var(--h1color);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 22px;
}

.powerful .content p{
    color: var(--bluetext);
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 32px;
}

.hr{
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    border: 2px solid var(--buttoncolor);
}

.about{
    margin-top: 26px;
    display: flex;
    justify-content: center;
}

.about h2{
    color: var(--h1color);
    font-weight: 500;
    font-size: 3rem;
}

.desenvolvedor{
    margin: 0px 160px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desenvolvedor .content{
    width: 500px;
}

.desenvolvedor .content h2{
    color: var(--h1color);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 22px;
}

.desenvolvedor .content p{
    color: var(--bluetext);
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 32px;
}

.desenvolvedor .image figure img{
    width: 450px;
    height: 450px;
    border: 5px solid var(--buttoncolorfort);
    border-radius: 100%;
}

.stacks{
    margin-top: 50px;
}

.stacks h2{
    color: var(--h1color);
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

.stacks .images {
    display: flex;
    justify-content: center;
}

.stacks .images figure img{
    width: 100%;
}

.time{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.time .content{
    margin-top: 50px;
    width: 1000px;
    margin: 0px 40px;
}

.time .content h2{
    color: var(--h1color);
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 22px;
    padding: 40px 0px;
}

.time .content h3{
    color: var(--h1color);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 12px;
    padding: 6px 0px;
}

.time .content p{
    color: var(--bluetext);
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 32px;
}
.time .content .lista img{
    margin-top: 15px;
}

.time .image figure img{
    height: 100%;
}

.time .button{
    margin-top: 60px;
}

.time .content .button a{
    padding: 30px 60px;
    background-color: var(--buttoncolorfort);
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
    font-size: 1.5rem;
}

.time .content .button a:hover{
    background-color: var(--white);
    color: var(--buttoncolorfort);
    transition: 0.3s;
    padding: 28px 58px;
    border: 1px solid var(--buttoncolorfort);
}

.footer{
    background-color: var(--bgcolor);
}

.footer .footer-first{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0px 160px;
}

.footer .footer-first .coprygth h3{
    font-weight: 400;
    color: var(--fth3color);
    font-size: 1rem;
}

.footer .footer-first .mid h2{
    font-weight: 500;
    color: var(--h1color);
    font-size: 22px;
}

.footer .footer-first .button a{
    padding: 8px 28px;
    background-color: var(--buttoncolorfort);
    color: var(--white);
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
}

.footer .footer-first .button a:hover{
    background-color: var(--h1color);
    transition: 0.3s;
}

.footer .footer-second{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    margin: 0px 160px;
}

.footer .footer-second .list ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.footer .footer-second .list ul li a{
    text-decoration: none;
    color: var(--fth3color);
    font-weight: 400;
}

.footer .footer-second .list ul li a:hover{
    color: var(--bluetext);
    transition: 0.5s;
    font-size: 17px;
}